
/*======================================
//--//-->   INTRO
======================================*/

.intro {
  height: 100vh;
  position: relative;
  color: #fff;
}

.intro .intro-content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -30px;
  left: 0px;
  display: grid;
  place-items: center;
  text-align: center;
}

.intro .overlay-itro {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .9;
}
.intro-content h1{
  font-size: 5rem;
  margin-bottom: 30px;
}
.intro-content p{
  font-size: 3rem;
  font-weight: normal;
}
.intro img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container-text-dinamic{
  display: flex;
  justify-content: center;
}
.container-text-dinamic p{
  font-size: 3.5rem;
}

